
mixin event(date, text, id, color)
	.event-line__block(data-materialid!=id)
		.event-line__date
			span(class!="date--" + color)!= date
		.event-line__text!= text

+event('1.01.1936','Матч “Рэсинг” (Париж) — сборная Москвы 2:1.',2)

+event('21.04.1936','Открытие 10-го съезда ВЛКСМ. Выступление Николая Старостина. Общество “Спартак” дарит Александру Косареву ружье.')

+event('01.1937','Встречи друзей на квартире Николая Старостина')

+event('1.05.1937','Физкультурный парад на Красной Площади',3)

+event('9.07.1937','“Спартак” (Москва) — сборная Басконии 6:2')

+event('12.07.1937 ','На Красной Площади проходит парад физкультурников, посвященный 20-летию революции.', 4)

+event('31.07.1937','Политбюро принимает секретный приказ НКВД №00047, начинается кампания массовых арестов.', 6)

+event('1.08.1937','“Спартак” выигрывает футбольный турнир на Антверпенской Рабочей Олимпиаде.',7)

+event('29.08.1937','Газета “Красный Спорт” публикует заметку “За кулисами” с критикой в адрес общества “Спартак”', 9)

+event('3.09.1937','В “Комсомольской Правде” выходит статья “Чуждые нравы в обществе Спартак”.',10)

+event('11.09.1937','Чемпионат СССР. “Спартак” (Москва) — “Динамо” (Москва) 0:0',11)

+event('21.10.1937','Арестован футбольный судья Виктор Рябоконь.',15, "yellow")

+event('23.10.1937','Арестован лыжник, глава кафедры Инфизкульта Иван Гребенщиков.',16, "yellow")

+event('25.10.1937','Арестован тренер легкоатлетов общества “Спартак” Василий Стеблев.', 17, "yellow")

+event('25.10.1937','Арестован спартаковский лыжник, сотрудник Инфизкульта Трофим Кадрилеев.')

+event('27.10.1937','Арестован Виктор Прокофьев, начальник команды “Буревестник”, бывший одноклубник Николая Старостина, муж Клавдии Старостиной.',19, "yellow")

+event('27.10.1937','Арестован футбольный судья Владимир Стрепихеев, близкий друг семьи Старостиных.',20, "yellow")

+event('4.11.1937','Арестован бегун, чемпион СССР на дистанции 1500 метров Елиазар Гвоздовер.',25, "yellow")

+event('21.01.1938','Расстреляны Трофим Кадрилеев и Владимир Стрепихеев.', 28, "red")

+event('30.01.1938','Арестован бегун Григорий Пужный, член эстафетной команды общества “Спартак”, тренер команды по легкой атлетике.',29, "yellow")

+event('7.02.1938','Расстрелян Елиазар Гвоздовер.',30, "red")

+event('19.02.1938','Арестован Леонид Геек, бухгалтер спортивного общества “Пищевик”, бывший администратор в обществе “Спартак”.',31, "yellow")

+event('9.03.1938','Арестован Евгений Архангельский, бывший одноклубник Старостиных и друг семьи. ',32, "yellow")

+event('27.04.1938','Расстрелян Виктор Рябоконь.', 33, "red")

+event('30.04.1938','Арестован Серафим Кривоносов, бывший футболист “Спартака” и глава магазина спартаковских спорттоваров.', 34, "yellow")

+event('10.05.1938','Расстрелян Виктор Прокофьев.',36, "red")

+event('20.05.1938','Расстрелян Серафим Кривоносов.', 37, "red")

+event('10.07.1938','Николай Старостин подает Косареву проект карнавального шоу на следующий физкультурный парад, сценарий называется “Фашистская сбродная против всеобщего мира”.')

+event('1.09.1938','Расстрелян Василий Стеблев.',38, "red")

+event('14.11.1938','Конец футбольного сезона, “Спартак” выигрывает чемпионат СССР-1938.', 39)

+event('23.11.1938','Николай Ежов отстранен с поста главы НКВД. Массовые аресты и расстрелы  приостановлены.', 40)

+event('25.11.1938','Наркомом НКВД становится Лаврентий Берия',41)

+event('28.11.1938','Арестован Александр Косарев, первый секретарь ВЛКСМ.',42)

+event('12.09.1939','“Спартак” (Москва) — “Сталинец” (Ленинград) 3:1. “Спартак” второй год подряд выигрывает Кубок СССР.')

+event('30.09.1939','“Спартак” (Москва) — “Динамо” (Тбилиси) 3:2. Переигровка полуфинального матча Кубка СССР. ', 49)

+event('25.11.1939','Из-под стражи освобождают Геека, Архангельского и Пужного. Обвинения в их  адрес признаны “абсурдными” и “недоказанными”.')

+event('30.11.1939','“Спартак” в первый (и единственный) раз в советской футбольной истории  делает второй “золотой дубль” подряд — выигрывает и чемпионат, и Кубок СССР.', 53)

+event(' 20.03.1942','Арестованы Николай, Андрей и Петр Старостины. Среди обвинений —  финансовые злоупотребления, “пораженческие настроения” и “восхваление буржуазного спорта”.')