//-.field
	img.field__image(src='../assets/img/field-01.png')

	.field__player.player.field__player--1.player(data-profile="puzh")
		//- include ../assets/img/player.svg
		.player__hover
			.player__name Григорий Пужный
			.player__life 1904 - 1941
			.player__role Легкоатлет, старший тренер общества “Спартак”

	.field__player.field__player--2.player
		//- include  ../assets/img/player.svg 
		.player__hover
			.player__name Василий Стеблев
			.player__life 1906–1938
			.player__role тренер легкоатлетической секции общества «Спартак»
	.field__player.field__player--3.player
		//- include ../assets/img/player.svg
		.player__hover
			.player__name Имя Фамилия
			.player__role Защитник	 
	.field__player.field__player--4.player
		//- include ../assets/img/player.svg
		.player__hover
			.player__name Имя Фамилия
			.player__role Защитник	 
	.field__player.field__player--5.player
		//- include ../assets/img/player.svg
		.player__hover
			.player__name Имя Фамилия
			.player__role Нападающий	 
	.field__player.field__player--6.player
		//- include ../assets/img/player.svg
		.player__hover
			.player__name Имя Фамилия
			.player__role Нападающий	 
	.field__player.field__player--7.player
		//- include ../assets/img/player.svg
		.player__hover
			.player__name Имя Фамилия
			.player__role Нападающий	 
	.field__player.field__player--8.player
		//- include ../assets/img/player.svg
		.player__hover
			.player__name Имя Фамилия
			.player__role Нападающий	 
	.field__player.field__player--9.player
		//- include ../assets/img/player.svg
		.player__hover
			.player__name Имя Фамилия
			.player__role Нападающий	 
	.field__player.field__player--10.player
		//- include ../assets/img/player.svg
		.player__hover
			.player__name Имя Фамилия
			.player__role Нападающий	 
	.field__player.field__player--11.player
		//- include ../assets/img/player.svg 
		.player__hover
			.player__name Имя Фамилия
			.player__role Нападающий
	.field__player.field__player--12.player
		//- include ../assets/img/player.svg 
		.player__hover
			.player__name Имя Фамилия
			.player__role Нападающий

