.field
	img.field__image(src='../assets/img/field-01.png')

	.field__player.player.field__player--1.player(data-profile="puzh")
		//- include ../assets/img/player.svg
		.player__hover
			.player__name Григорий Пужный
			.player__life 1904 - 1941
			.player__role Легкоатлет, старший тренер общества “Спартак”

	.field__player.field__player--2.player(data-profile="kadril")
		//- include  ../assets/img/player.svg
		.player__hover
			.player__name Трофим Кадрилеев
			.player__life 1910-1938
			.player__role Лыжник, альпинист, преподаватель на кафедре Инфизкульта им. Сталина.

	.field__player.field__player--3.player(data-profile="krivonos")
		.player__hover
			.player__name Серафим Кривоносов
			.player__life 1903-1938
			.player__role Футболист, заведующий спортивным магазином общества “Спартак”

	.field__player.field__player--4.player(data-profile="geek")
		.player__hover
			.player__name Леонид Геек
			.player__life 1903-????
			.player__role Начальник учебно-спортивного отдела общества “Пищевик”

	.field__player.field__player--5.player(data-profile="starost")
		.player__hover
			.player__name Старостины
			.player__role Основатели команды “Спартак”

	.field__player.field__player--6.player(data-profile="greben")
		.player__hover
			.player__name Иван Гребенщиков
			.player__life 1900-1938
			.player__role Руководитель кафедры лыж и легкой атлетики Московского института физкультуры

	.field__player.field__player--7.player(data-profile="gvozd")
		.player__hover
			.player__name Елиазар Гвоздовер
			.player__life 1914-1938
			.player__role Тренер по легкой атлетике спортобщества “Рот Фронт”

	.field__player.field__player--8.player(data-profile="arhan")
		.player__hover
			.player__name Евгений Архангельский
			.player__life 1896-????
			.player__role Бухгалтер планового отдела общества “Спартак”

	.field__player.field__player--9.player(data-profile="strep")
		.player__hover
			.player__name Владимир Стрепихеев
			.player__life 1904-1938
			.player__role Футбольный судья

	.field__player.field__player--10.player(data-profile="ryabo")
		.player__hover
			.player__name Виктор Рябоконь
			.player__life 1895-1938
			.player__role Начальник московского спортобщества “Локомотив”


	.field__player.field__player--11.player(data-profile="prok")
		.player__hover
			.player__name Виктор Прокофьев
			.player__life 1889-1938
			.player__role Руководитель футбольно-хоккейной секции спортивного общества "Буревестник"

	.field__player.field__player--12.player(data-profile="steb")
		.player__hover
			.player__name Василий Стеблев
			.player__life 1906-1938
			.player__role Начальник легкоатлетической секции и инструктор физкультуры Посольства Германии в СССР